streamlit
langchain
langchain-google-genai
chromadb
python-dotenv
unstructured
markdown
python-magic
nltk
nest-asyncio
langchain-community
langchain-huggingface
FlagEmbedding
sentence-transformers
huggingface_hub